@{
    ViewBag.Title = "Home Page";
}

    <!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    <li>@Html.ActionLink("Course", "Index", "Courses")</li>
                    <li>@Html.ActionLink("MeetUp", "Index", "MeetUp")</li>
                    @*<li>@Html.ActionLink("Forum", "Index", "Forum")</li>
                    <li>@Html.ActionLink("Blog", "Index", "Blog")</li>*@
                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
           </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                @*<li>
                    <a href="#page-top"></a>
                </li>*@
                @*<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>*@
                @*<li>
                    <a class="page-scroll" href="#download">Download</a>
                </li>*@
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Data Application institute</h1>
                    <p class="intro-text">Let the Expert guide you</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>WHAT WE OFFER</h2>
            <h3>Cutting-edge technologies and latest applications in big data industry.</h3>
            <p>REAL-world applciations from startup companies</p>
            <p>Students will complete End-To-End projectwhich Demo in job interviews</p>
            <p>24/7 CLOUD Computing Cluster with Hadoop Ecosystem and Spark platform</p>
        </div>
    </div>
</section>
<!-- Download Section -->
<section id="download" class=" text-center">
    <div class="download-section">
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact US</h2>
            <p>Feel free to email us, give us call at 18004857918, or to just say hello!</p>
            <p>
                <a href="mailto:dataappinstitute@gmail.com">dataappinstitute@gmail.com</a>
            </p>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Big Data Application institute 2015</p>
    </div>
</footer>
<!-- jQuery -->
<script src="~/Scripts/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="~/Scripts/js/jquery.easing.min.js"></script>
<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<!-- Custom Theme JavaScript -->
<script src="~/Scripts/js/grayscale.js"></script>